.player-controls {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 125px;
    top: 25px;
  }

  .layer-player{
    top: -15px;
    left: 85px;
  }
  
  .control img {
    width: 20px;
    cursor: pointer;
    user-select: none;
  }
  
  .control:hover {
    transform: scale(1.1);
  }
  