.img-container {
    width: 200px;
    height: 200px;
    position: relative;
    top: -50px;
    left: 50px;
}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}