.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 35px 15px;
    height: 4px;
    width: 90%;
  }
  
  .progress {
    background: #2CE080;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
  .duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
    color: #03314B;
  }