.card {
    display: flex;
    flex-direction: column;
    
  }
  
  .card--top{
    height: 215px;
    width: 215px;
  }

  .card--top img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card--bottom{
    background-color: blue;
    height: 150px;
    width: 215px;
  }