*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#03314B;
  --secondary-color:#2CE080;
  --background:#f2f2f2;
}

[data-theme="dark"] {
  --primary-color:#f2f2f2;
  --secondary-color:#03314B;
  --background:#03314B;
}

body{
  background-color: var(--background);
  color: var(--primary-color);
}

/*Library*/
h1 {
  color: var(--primary-color);
  font-size: 36px;
}

/*Book Title*/
h2 {
  color: #2CE080;
  font-size: 36px;
}

/*Card Book Title*/
h3 {
  color: #000000;
  font-size: 16px;
}

/*Card Book Author*/
h4 {
  color: #4f4f4f;
  font-size: 14px;
}

p {
  color: var(--primary-color);
  font-size: 16px;
}