*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#f2f2f2;
  --secondary-color:#f2f2f2;
  --background:#03314B;
}

[data-theme="dark"] {
  --primary-color:#03314B;
  --secondary-color:#2CE080;
  --background:#f2f2f2;
  
}

body{
  background-color: var(--background);
  color: var(--primary-color);
  font-family: "cera pro";
  margin: auto;
}

/*Library*/
h1 {
  color: var(--primary-color);
  margin-top: 45px;
  font-size: 36px;
}

/*Book Title*/
h2 {
  color: #2CE080;
  font-size: 36px;
  margin: 30px 0;
}

/*Card Book Title*/
h3 {
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin: 0;
}

/*Card Book Author*/
h4 {
  color: #4f4f4f;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

p {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 160%;
  font-family: "ff tisa web pro";
  margin-bottom: 125px;
}

.blur {
  filter: blur(10px);
}